body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:700px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:700px;
}
#u153 {
  position:absolute;
  left:2px;
  top:342px;
  width:1356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u154 {
  position:absolute;
  left:255px;
  top:36px;
  width:851px;
  height:38px;
}
#u155 {
  position:absolute;
  left:2px;
  top:11px;
  width:847px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:10px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u156 {
  position:absolute;
  left:255px;
  top:76px;
  width:571px;
  height:10px;
}
#u157 {
  position:absolute;
  left:2px;
  top:-3px;
  width:567px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u158 {
  position:absolute;
  left:266px;
  top:43px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:2px;
}
#u160 {
  position:absolute;
  left:260px;
  top:74px;
  width:834px;
  height:1px;
}
#u161 {
  position:absolute;
  left:2px;
  top:-8px;
  width:830px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u162 {
  position:absolute;
  left:255px;
  top:76px;
  width:284px;
  height:10px;
}
#u163 {
  position:absolute;
  left:2px;
  top:-3px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#158BCB;
}
#u164 {
  position:absolute;
  left:384px;
  top:85px;
  width:121px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#158BCB;
}
#u165 {
  position:absolute;
  left:2px;
  top:4px;
  width:117px;
  word-wrap:break-word;
}
#u166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:10px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u166 {
  position:absolute;
  left:518px;
  top:382px;
  width:625px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u167 {
  position:absolute;
  left:2px;
  top:-3px;
  width:621px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u168 {
  position:absolute;
  left:934px;
  top:84px;
  width:166px;
  height:30px;
}
#u169 {
  position:absolute;
  left:2px;
  top:7px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:145px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u170 {
  position:absolute;
  left:835px;
  top:513px;
  width:270px;
  height:145px;
}
#u171 {
  position:absolute;
  left:2px;
  top:64px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:268px;
}
#u173 {
  position:absolute;
  left:857px;
  top:756px;
  width:320px;
  height:268px;
}
#u174 {
  position:absolute;
  left:2px;
  top:126px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u175 {
  position:absolute;
  left:922px;
  top:980px;
  width:191px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u176 {
  position:absolute;
  left:2px;
  top:4px;
  width:187px;
  word-wrap:break-word;
}
#u177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u177 {
  position:absolute;
  left:895px;
  top:763px;
  width:186px;
  height:21px;
  font-size:12px;
}
#u178 {
  position:absolute;
  left:2px;
  top:3px;
  width:182px;
  word-wrap:break-word;
}
#u179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u179 {
  position:absolute;
  left:1414px;
  top:513px;
  width:140px;
  height:40px;
}
#u180 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u181 {
  position:absolute;
  left:1414px;
  top:582px;
  width:140px;
  height:40px;
}
#u182 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u183 {
  position:absolute;
  left:1379px;
  top:308px;
  width:441px;
  height:53px;
  color:#FF0000;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  white-space:nowrap;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:606px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u186 {
  position:absolute;
  left:836px;
  top:75px;
  width:270px;
  height:606px;
}
#u187 {
  position:absolute;
  left:2px;
  top:295px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#158BCB;
}
#u188 {
  position:absolute;
  left:911px;
  top:75px;
  width:121px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#158BCB;
}
#u189 {
  position:absolute;
  left:2px;
  top:0px;
  width:117px;
  word-wrap:break-word;
  text-shadow:2px 2px 5px rgba(153, 153, 153, 0.647058823529412);
  -webkit-text-shadow:2px 2px 5px rgba(153, 153, 153, 0.647058823529412);
  -moz-text-shadow:2px 2px 5px rgba(153, 153, 153, 0.647058823529412);
}
#u190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u190 {
  position:absolute;
  left:885px;
  top:664px;
  width:169px;
  height:15px;
  font-size:12px;
  color:#CCCCCC;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u192 {
  position:absolute;
  left:836px;
  top:149px;
  width:270px;
  height:501px;
  overflow:hidden;
}
#u192_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:501px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u192_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:448px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:448px;
}
#u194 {
  position:absolute;
  left:2px;
  top:216px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u196 {
  position:absolute;
  left:12px;
  top:417px;
  width:103px;
  height:31px;
}
#u197 {
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
#u198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u198 {
  position:absolute;
  left:153px;
  top:416px;
  width:103px;
  height:31px;
}
#u199 {
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:33px;
}
#u200 {
  position:absolute;
  left:1px;
  top:18px;
  width:26px;
  height:23px;
}
#u201 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:33px;
}
#u202 {
  position:absolute;
  left:33px;
  top:18px;
  width:26px;
  height:23px;
}
#u203 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:33px;
}
#u204 {
  position:absolute;
  left:69px;
  top:18px;
  width:26px;
  height:23px;
}
#u205 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:33px;
}
#u206 {
  position:absolute;
  left:103px;
  top:18px;
  width:26px;
  height:23px;
}
#u207 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:33px;
}
#u208 {
  position:absolute;
  left:137px;
  top:18px;
  width:26px;
  height:23px;
}
#u209 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u210 {
  position:absolute;
  left:172px;
  top:18px;
  width:26px;
  height:23px;
}
#u211 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u212 {
  position:absolute;
  left:203px;
  top:18px;
  width:26px;
  height:23px;
}
#u213 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u214 {
  position:absolute;
  left:236px;
  top:18px;
  width:26px;
  height:23px;
}
#u215 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:266px;
}
#u216 {
  position:absolute;
  left:0px;
  top:75px;
  width:272px;
  height:266px;
}
#u217 {
  position:absolute;
  left:2px;
  top:125px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u218 {
  position:absolute;
  left:5px;
  top:75px;
  width:19px;
  height:18px;
}
#u219 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  word-wrap:break-word;
}
#u192_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:501px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u192_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u221 {
  position:absolute;
  left:11px;
  top:445px;
  width:98px;
  height:33px;
}
#u222 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u223 {
  position:absolute;
  left:146px;
  top:444px;
  width:98px;
  height:33px;
}
#u224 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u225 {
  position:absolute;
  left:1px;
  top:0px;
  width:25px;
  height:25px;
}
#u226 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u227 {
  position:absolute;
  left:32px;
  top:0px;
  width:25px;
  height:25px;
}
#u228 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u229 {
  position:absolute;
  left:66px;
  top:0px;
  width:25px;
  height:25px;
}
#u230 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u231 {
  position:absolute;
  left:98px;
  top:0px;
  width:25px;
  height:25px;
}
#u232 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u233 {
  position:absolute;
  left:131px;
  top:0px;
  width:25px;
  height:25px;
}
#u234 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u235 {
  position:absolute;
  left:164px;
  top:0px;
  width:25px;
  height:25px;
}
#u236 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u237 {
  position:absolute;
  left:194px;
  top:0px;
  width:25px;
  height:25px;
}
#u238 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u239 {
  position:absolute;
  left:226px;
  top:0px;
  width:25px;
  height:25px;
}
#u240 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:285px;
}
#u241 {
  position:absolute;
  left:0px;
  top:42px;
  width:260px;
  height:285px;
}
#u242 {
  position:absolute;
  left:2px;
  top:134px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u243 {
  position:absolute;
  left:5px;
  top:42px;
  width:18px;
  height:19px;
}
#u244 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u192_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:501px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u192_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u246 {
  position:absolute;
  left:11px;
  top:445px;
  width:98px;
  height:33px;
}
#u247 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u248 {
  position:absolute;
  left:146px;
  top:444px;
  width:98px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u249 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u250 {
  position:absolute;
  left:1px;
  top:0px;
  width:25px;
  height:25px;
}
#u251 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u252 {
  position:absolute;
  left:32px;
  top:0px;
  width:25px;
  height:25px;
}
#u253 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u254 {
  position:absolute;
  left:66px;
  top:0px;
  width:25px;
  height:25px;
}
#u255 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u256 {
  position:absolute;
  left:98px;
  top:0px;
  width:25px;
  height:25px;
}
#u257 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u258 {
  position:absolute;
  left:131px;
  top:0px;
  width:25px;
  height:25px;
}
#u259 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u260 {
  position:absolute;
  left:164px;
  top:0px;
  width:25px;
  height:25px;
}
#u261 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u262 {
  position:absolute;
  left:194px;
  top:0px;
  width:25px;
  height:25px;
}
#u263 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u264 {
  position:absolute;
  left:226px;
  top:0px;
  width:25px;
  height:25px;
}
#u265 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:285px;
}
#u266 {
  position:absolute;
  left:0px;
  top:42px;
  width:260px;
  height:285px;
}
#u267 {
  position:absolute;
  left:2px;
  top:134px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u268 {
  position:absolute;
  left:5px;
  top:42px;
  width:18px;
  height:19px;
}
#u269 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:38px;
}
#u270 {
  position:absolute;
  left:836px;
  top:113px;
  width:270px;
  height:38px;
}
#u271 {
  position:absolute;
  left:2px;
  top:11px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  text-align:center;
}
#u272 {
  position:absolute;
  left:544px;
  top:45px;
  width:234px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  text-align:center;
}
#u273 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  height:440px;
}
#u274 {
  position:absolute;
  left:253px;
  top:84px;
  width:573px;
  height:440px;
}
#u275 {
  position:absolute;
  left:2px;
  top:212px;
  width:569px;
  visibility:hidden;
  word-wrap:break-word;
}
